.icn-brands {
	background: url("sprite-02980601.svg") 0 0 no-repeat;
}

.icn-brands-dims {
	width: 17px;
	height: 17px;
}

.icn-home {
	background: url("sprite-02980601.svg") 50% 0 no-repeat;
}

.icn-home-dims {
	width: 17px;
	height: 15.09px;
}

.icn-latest {
	background: url("sprite-02980601.svg") 0 100% no-repeat;
}

.icn-latest-dims {
	width: 15.8px;
	height: 17px;
}

.icn-music {
	background: url("sprite-02980601.svg") 46.470588235294116% 100% no-repeat;
}

.icn-music-dims {
	width: 17px;
	height: 17px;
}

.icn-people {
	background: url("sprite-02980601.svg") 100% 0 no-repeat;
}

.icn-people-dims {
	width: 17px;
	height: 15.33px;
}

.icn-shows {
	background: url("sprite-02980601.svg") 100% 78.53483606557377% no-repeat;
}

.icn-shows-dims {
	width: 17px;
	height: 14.48px;
}

